.About {
  background: url('../src/assets/Images/white-bg.jpeg');
  background-size: cover;
  margin-top: 90px;
}

.aboutDesc img {
  border-radius: 50%;
}

.aboutDesc img:hover {
  transition: all ease-in-out 200ms;
  transform: scale(1.1);
}

/* Carousel Image */
.sliderImg {
  width: 100%;
  height: 525.5px;
  object-fit: cover;
  object-position: right center;
}

.sliderContainer {
  width: 100%;
  height: 525.5px;
}

.sliderContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: inset 7px 10px 23px #000000, inset -7px -10px 23px #000000;
  z-index: 1;
}

/* ----HISTORY----- */

@media (max-width: 1024px) {
  .historyTitle {
    background: url('./assets/Images/gray-bg.jpeg');
    background-size: cover;
  }

  .aboutDesc img {
    width: 300px;
  }
}

@media (max-width: 575px) {
  .aboutDesc img {
    width: 200px;
  }

  .visionDesc {
    height: 300px;
    text-shadow: #fff 2px 2px;
  }
}
