@import url('./Home.css');
@import url('./About.css');
@import url('https://fonts.googleapis.com/css?family=Exo+2|Allerta+Stencil');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 3px;
}
