.Contacts {
  background: url('./assets/Images/white-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.contactShowcase {
  position: relative;
  height: 525.5px;
  background: url('./assets/Images/yfc-rome.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 90px;
}

.contactShowcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.contactShowcase p {
  font-size: 7rem;
  z-index: 2;
}

.socialMedias {
  display: grid;
  grid-template-columns: auto 1fr;
}

@media (max-width: 575px) {
  .contactShowcase {
    height: 525px;
  }

  .Socials {
    height: 300px;
  }

  .contactShowcase p {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .Socials {
    height: 300px;
  }
}
